<div>
    <h3>Clients & POCs</h3>

    <table>
        <thead>
            <tr>
                <th>Client</th>
                <th>Project</th>
                <th>POC</th>
                <th>Quarter</th>
                <th>Date</th>
                <th>Grade</th>
                <th>Feedback</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="client in clients">
                <td>
                    <span ng-hide="client.isInEditMode">{{ client.Name }}</span>
                    <input type="text" ng-show="client.isInEditMode" ng-model="client.Name" autofocus />
                </td>
                <td>
                    <span ng-hide="client.isInEditMode">{{ client.ProjectName }}</span>
                    <input type="text" ng-show="client.isInEditMode" ng-model="client.ProjectName" autofocus />
                </td>
                <td>
                    <span ng-hide="client.isInEditMode">{{ client.PocName }}</span>
                    <input type="text" ng-show="client.isInEditMode" ng-model="client.PocName" autofocus />
                </td>
                <td>
                    <span ng-hide="client.isInEditMode">{{ client.Quarter}}</span>
                    <input type="text" ng-show="client.isInEditMode" ng-model="client.Quarter" autofocus />
                </td>
                <td>
                    <span ng-hide="client.isInEditMode">{{ client.Date | date: 'shortDate' }}</span>
                    <input type="text" ng-show="client.isInEditMode" ng-model="client.Date | date: 'shortDate'" autofocus />
                </td>
                <td>
                    <span ng-hide="client.isInEditMode">{{ client.Grade }}</span>
                    <input type="text" ng-show="client.isInEditMode" ng-model="client.Grade" autofocus />
                </td>
                <td>
                    <textarea rows="5" ng-hide="client.isInEditMode" readonly>{{ client.Feedback }}</textarea>
                    <textarea rows="5" ng-show="client.isInEditMode" ng-model="client.Feedback"></textarea>
                </td>
                <td>
                    <button ng-hide="client.isInEditMode" ng-click="setIsInEditMode(client, true)">Edit</button>
                    <button ng-show="client.isInEditMode" ng-click="setIsInEditMode(client, false)">Save</button>
                    <button ng-hide="client.isInEditMode" ng-click="deleteClient(client)">Delete</button>
                </td>
            </tr>
            <tr>
                <td><input type="text" ng-model="newClient.Name"></td>
                <td><input type="text" ng-model="newClient.ProjectName"></td>
                <td><input type="text" ng-model="newClient.PocName"></td>
                <td><input type="text" ng-model="newClient.Quarter"></td>
                <td><input type="text" ng-model="newClient.Date"></td>
                <td><input type="text" ng-model="newClient.Grade"></td>
                <td><textarea rows="5" ng-model="newClient.Feedback"></textarea></td>
                <td><button ng-click="addClient()">Add</button></td>
            </tr>
        </tbody>
    </table>
</div>

