<div>
    <h3>Clients & POCs</h3>

    <table>
        <thead>
            <tr>
                <th>Client</th>
                <th>Project</th>
                <th>POC</th>
                <th>Quarter</th>
                <th>Date</th>
                <th>Grade</th>
                <th>Feedback</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="client in clients">
                <td>
                    <span ng-hide="client.isInEditMode">{{ client.name }}</span>
                    <input type="text" ng-show="client.isInEditMode" ng-model="client.name" autofocus />
                </td>
                <td>
                    <span ng-hide="client.isInEditMode">{{ client.projectName }}</span>
                    <input type="text" ng-show="client.isInEditMode" ng-model="client.projectName" autofocus />
                </td>
                <td>
                    <span ng-hide="client.isInEditMode">{{ client.pocName }}</span>
                    <input type="text" ng-show="client.isInEditMode" ng-model="client.pocName" autofocus />
                </td>
                <td>
                    <span ng-hide="client.isInEditMode">{{ client.quarter}}</span>
                    <input type="text" ng-show="client.isInEditMode" ng-model="client.quarter" autofocus />
                </td>
                <td>
                    <span ng-hide="client.isInEditMode">{{ client.date }}</span>
                    <input type="text" ng-show="client.isInEditMode" ng-model="client.date" autofocus />
                </td>
                <td>
                    <span ng-hide="client.isInEditMode">{{ client.grade }}</span>
                    <input type="text" ng-show="client.isInEditMode" ng-model="client.grade" autofocus />
                </td>
                <td>
                    <textarea rows="5" ng-hide="client.isInEditMode" readonly>{{ client.feedback }}</textarea>
                    <textarea rows="5" ng-show="client.isInEditMode" ng-model="client.feedback"></textarea>
                </td>
                <td>
                    <button ng-hide="client.isInEditMode" ng-click="setIsInEditMode(client, true)">Edit</button>
                    <button ng-show="client.isInEditMode" ng-click="setIsInEditMode(client, false)">Save</button>
                    <button ng-hide="client.isInEditMode" ng-click="deleteClient($index)">Delete</button>
                </td>
            </tr>
            <tr>
                <td><input type="text" ng-model="newClient.name"></td>
                <td><input type="text" ng-model="newClient.projectName"></td>
                <td><input type="text" ng-model="newClient.pocName"></td>
                <td><input type="text" ng-model="newClient.quarter"></td>
                <td><input type="text" ng-model="newClient.date"></td>
                <td><input type="text" ng-model="newClient.grade"></td>
                <td><textarea rows="5" ng-model="newClient.feedback"></textarea></td>
                <td><button ng-click="addClient()">Add</button></td>
            </tr>
        </tbody>
    </table>
</div>

